html {
    width: 100vw;
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    overflow: auto;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

@keyframes am1 {
	0% {
		bottom: -600px;
	}
	100% {
		bottom: 0px;
	}
}

#mainDiv {
    width: 100%;
    height: 100%;
}

#content {
    /* min-width: 670px; */
	width: 100vw;
    height: 100vh;
	position: relative;
}


#bg {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}

#loveHeart {
    /* float: left; */
    position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);

    width: 670px;
    height: 620px;
    padding-top: 20px;
	z-index: 88;
}

#garden {
    width: 100%;
    height: 100%
}

#elapseClock {
    text-align: right;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px
}

#words {
    font-family: "sans-serif";
    width: 500px;
    font-size: 24px;
    /* color: #666 */
	color: cyan;
}

#messages {
    display: none
}

#elapseClock .digit {
    font-family: "digit";
    font-size: 36px
}

#loveu {
    padding: 5px;
    font-size: 22px;
    margin-top: 80px;
    margin-right: 120px;
    text-align: right;
    display: none
}

#loveu .signature {
    margin-top: 10px;
    font-size: 20px;
}

#clickSound {
    display: none
}

#code {
    width: 440px;
    margin-top: 60px !important;
    /* color: #333; */
	/* color: aqua; */
	color: cyan;
    font-family: "Consolas", "Monaco", "Bitstream Vera Sans Mono", "Courier New", "sans-serif";
    font-size: 12px;
	position: relative;
	z-index: 88;
	display: none;
}

#code .string {
    color: #2a36ff
}

#code .keyword {
    color: #7f0055;
    font-weight: bold
}

#code .placeholder {
    margin-left: 15px
}

#code .space {
    margin-left: 7px
}

#code .comments {
    color: #3f7f5f
}

#copyright {
    margin-top: 40px;
    text-align: center;
    width: 100%;
    color: #666
}

#errorMsg {
    width: 100%;
    text-align: center;
    font-size: 24px;
    position: absolute;
    top: 100px;
    left: 0
}

#copyright a {
    color: #666
}
